/* 
HTML：
<div class="button">内容</div>
*/
.button {
    display: initial;
    flex: 1 1 auto;
    margin: 10px;
    padding: 14px;
    border: 1px solid #b3d8ff;
    background-color: #ecf5ff;
    color: #409eff;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.button:after {
    position: absolute;
    transition: 0.3s;
    content: "";
    width: 0;
    left: 50%;
    bottom: 0;
}

.button:after {
    height: 120%;
    left: -10%;
    transform: skewX(15deg);
    z-index: -1;
}

.button:hover {
    cursor: pointer;
}

.button:hover:after {
    width: 100%;
    left: 0;
}

.button:hover {
    color: #5bcaff;
    color: #fff;
    background: #409eff;
    border: 1px solid #409eff;
}

.button:hover:after {
    left: -10%;
    width: 120%;
}